<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!--动态加载的程序集,获取所有电影列表,参数(程序集名称,对象名称)-->
    <!--<add key="MovieList " value="MtimeShowList,MtimeShowList.Mtime"/>-->
    <!--<add key="MovieList " value="猫眼API,猫眼API.GetMaoYan"/>-->
    <add key="MovieList" value="猫眼手机API,猫眼手机API.My" />
    <!--api存放位置-->
    <add key="apiPath" value="猫眼手机API.dll"/>
    <!--动态加载的程序集,以模糊查询获取当前搜索关键字的电影参数(程序集名称,对象名称)-->
    <add key="Search" value="MtimeShowList,MtimeShowList.GetMovieNameList"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--影院id  1737=长沙JCI  崇阳=15173 永州=11146  衡阳=14495-->
    <add key="cinemaId" value="15173"/>
    <!--百度api相关-->
    <add key="API_KEY" value="8LQ02VHhESg7gUOi1W66707r" />
    <add key="SECRET_KEY" value="MMd8oYPZTi5PbkopfkAoX0N0Bg2N6tk9" />
  </appSettings>
</configuration>
